/home/bolot/Desktop/test/venv
/home/bolot/Desktop/test/lists.db
/home/bolot/Desktop/test/.gitignore
/home/bolot/Desktop/test/db/__pycache__
/home/bolot/Desktop/test/.vscode
/home/bolot/Desktop/test/__pycache__